body {
    background-color: #f3c13a; /* Light yellow background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid black; /* Black border */
    padding: 30px; /* Increased padding to add more space around the image */
    text-align: center;
    background-color: #f3c13a; /* Same color as the body */
}

h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin-bottom: 1px;
  	
}

img {
    width: 400px;
    height: auto;
    margin-top: 20px;/* Additional margin if needed */
  	margin-bottom: 20px;
  	margin-right: 50px;
  	margin-left: 80px;
}
